@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'IBM Plex Sans JP';
  font-style: normal;
  font-weight: 100;
  src: url("https://planetky.com/bm/fonts/IBM-Plex-Sans-JP/fonts/complete/woff2/hinted/IBMPlexSansJP-Thin.woff2") format("woff2"), url("https://planetky.com/bm/fonts/IBM-Plex-Sans-JP/fonts/complete/woff/hinted/IBMPlexSansJP-Thin.woff") format("woff"); }

div[class*="page-header"] {
  --height: 10rem;
  font-family: "IBM Plex Sans JP";
  font-weight: 300;
}

div[class*="Footer-module--grid--8uMdA"] {
  min-height: 100px;
}

h1[id*="page-title"] {
  font-size: 2em;
}

@media only screen and (max-width: 450px) {
  h1[id*="page-title"] {
    font-size: 1.5em;
  }
}

h1[class*="Markdown-module--h1"] {
  margin-top: 1em;
}

h3[class*="Markdown-module--h3"] {
  margin-top: 1em;
}

ul[class*="Markdown-module--list"] {
  padding-left: 2em;
}

ol[class*="Markdown-module--list"] {
  padding-left: 2em;
}

div[class*="Tabs-module--tab-container"] {
  margin-left: -0rem;
}

div[class*="Tabs-module--tab-contents"] {
  margin-left: 0rem;
}

h2[class*="Markdown-module--h2"] {
  margin-top: 1em;
}

p[class*="paragraph--responsive"] {
  width: 90%;
  padding-bottom: 0.5em;
  font-family: "IBM Plex Sans JP";
  font-weight: 450;
}

ul[class*="module--list"] {
  width: 75%;
}

div[class*="module--paragraph-row"] {
  margin-bottom: 0.45em;
}

div[class*="module--notification"] {
  flex: 0 0 80%;
  max-width: 75%;
}

div[class*="module--container"] {
  overflow-y: visible;
  max-height: 900px;
}

div[class*="Code-module--row"] {
  width: 95%;
}

a:link[class="link-color"] {
  color: #0000ff;
}
a:visited[class="visited-color"] {
  color: #00ccff;
}

.bx--list--nested {
  margin-bottom: 1.5em;
}

.bx--resource-card--dark .bx--tile {
  background-color: grey;
}

.bx--resource-card--dark .bx--tile:hover {
  background-color: cornflowerblue;
}

.h1--no--margin {
  margin-top: 1px;
}

.h1-no-bottom-margin {
  margin-bottom: -15px;
  font-family: "IBM Plex Sans JP";
  font-weight: 500;
}

svg.svg-white {
  fill: white;
  bottom: 100px;
}
.link-1 {
  bottom: 100px;
  color: Black;
}

.largeP {
  font-size: 1.5em;
  font-family: "IBM Plex Sans JP";
  font-weight: 450;
}

.largeP-less-margin {
  font-size: 1.5em;
  margin-bottom: -25px;
}

.bigP {
  font-size: 2.5em;
  margin-bottom: -35px;
}

.button-right-mergin {
  margin-right: 2px;
  margin-bottom: 4px;
}

.p-hp {
  font-family: "IBM Plex Sans JP";
  font-weight: 100;
}

.p100J {
  font-family: "IBM Plex Sans JP";
  font-weight: 100;
}

.p200J {
  font-family: "IBM Plex Sans JP";
  font-weight: 200;
}

.p300J {
  font-family: "IBM Plex Sans JP";
  font-weight: 300;
}

.p400J {
  font-family: "IBM Plex Sans JP";
  font-weight: 400;
}

.p500J {
  font-family: "IBM Plex Sans JP";
  font-weight: 500;
}

.p700J {
  font-family: "IBM Plex Sans JP";
  font-weight: 700;
}

.p600J {
  font-family: "IBM Plex Sans JP";
  font-weight: 600;
}
.p100 {
  font-family: "IBM Plex Sans";
  font-weight: 100;
}

.p200 {
  font-family: "IBM Plex Sans";
  font-weight: 200;
}

.p300 {
  font-family: "IBM Plex Sans";
  font-weight: 300;
}

.p400 {
  font-family: "IBM Plex Sans";
  font-weight: 400;
}

.p500 {
  font-family: "IBM Plex Sans";
  font-weight: 500;
}

.p700 {
  font-family: "IBM Plex Sans";
  font-weight: 700;
}

.p600 {
  font-family: "IBM Plex Sans";
  font-weight: 600;
}
